@import url('https://fonts.googleapis.com/css?family=Exo+2&display=swap');



body{
   background-image: url(../Images/leafyishere-background-12.jpg); 
}
h1{
  
   font-size: 74px;
   text-align: Center;
   font-family: 'Exo 2', sans-serif;
   
   color: 	#F056D7; 
  
   
}
p{ 
  
font-family: 'Exo 2', sans-serif;
text-align: Center;
color: #BA3C57;
font-size: 35px;
}

div{
   float: center;
   text-align: center;
}


#con {
width:1920px;
height:670px;
background-color: none;
float: center;
text-align: center;
}

#box2 {
float: center; 
text-align: center;
width: 1000px;
height:300px;
background-color: none;
font-size:22px;
margin-left: 350px;
margin-top: 0px;
}


#text1{
    opacity: 0;
    transition: all 1.2s;
    float: center;
    text-align: center;
    
    
}
#box2:hover #text1{
   opacity: 1;
   float: center;
   text-align: center;

}

h14{
   font-size: 44px;
   text-align: Center;
   font-family: 'Exo 2', sans-serif;
   color: Violet; 
}

p5{
   color: #fffdd0;
}
