@import url('https://fonts.googleapis.com/css?family=Exo+2&display=swap');



body{
   background-image: url(../Images/leafyishere-background-12.jpg); 
}
h1{
  
   font-size: 74px;
   text-align: Center;
   font-family: 'Exo 2', sans-serif;
   font-thickness: 0;
   color: 	#F056D7; 
  
   
}
p{ 
  
font-family: 'Exo 2', sans-serif;
text-align: Center;
color: #BA3C57;
font-size: 35px;
}
p2{
   
   font-size:20px; 
}
 p3{
      color: Pink;
      font-size:0px;
}

div{
   
   text-align: center;
}

.button{
   color: #F056D7;
   background-color: #BA3C57;
   font-family: 'Exo 2', san-serif;
   cursor: pointer;
   font-size: 20px;
}


#con {
width:1024px;
height:670px;
background-color: none;
}

#box2 {
float: center; 
width: 1000px;
height:300px;
background-color: pink;

font-size:25px;
margin-left: 320px;
margin-top: 0px;
}


#text1{
    opacity: 0;
    transition: all 1.2s;
    
}
#box2:hover #text1{
   opacity: 1;
}

p5{
   color: white;
}

